KEYCLOAK_REALM_ID=master
KEYCLOAK_SERVER_URL=http://keycloak:8080/auth
KEYCLOAK_CLIENT_ID=admin-cli
KEYCLOAK_CLIENT_SECRET=dc06e777-1985-422b-85cd-15979fc7ab77

REDIRECT_BASE_URL=http://localhost:3000

REDIS_URL=redis://localhost:6379/0

GOVUK_NOTIFY_TEMPLATE_ID=aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa
NOTIFY_API_KEY=foobarbazbatquxquux
