<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("email_confirmation.error.title"),
      heading_level: 1
    } %>

    <p class="govuk-body"><%= t("email_confirmation.error.#{@state}") %></p>

    <% if @email %>
      <p class="govuk-body"><a href="/resend-confirmation?email=<%= @email %>"><%= t("email_confirmation.send_link") %></a></p>
    <% end %>
  </div>
</div>
