<% content_for :title, t("mfa.phone.create.fields.phone.label") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(url: new_user_registration_phone_code_path, method: :post, class: "mfa-phone-create") do %>
      <%= render "govuk_publishing_components/components/input", {
        label: { text: yield(:title), },
        hint: sanitize(t("mfa.phone.create.fields.phone.hint")),
        name: "phone",
        heading_size: "xl",
        heading_level: 1,
        error_message: @phone_error_message,
        width: 10,
        autocomplete: "tel",
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("mfa.phone.create.fields.submit.label"),
        data_attributes: {
          module: "gem-track-click",
          "track-category": "account-create",
          "track-action": "create",
          "track-label": "phone"
        }
      } %>
    <% end %>

    <p class="govuk-body">
      <% if has_criteria_keys?(@registration_state) %>
        <%= sanitize(t("mfa.phone.create.email_only_alternative", email_link: email_alerts_only_path(@registration_state))) %>
      <% end %>
    </p>
  </div>
</div>
