<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(url: new_user_registration_phone_code_path(registration_state_id: @registration_state_id), method: :post) do %>
      <%= render "govuk_publishing_components/components/input", {
        label: { text: t("mfa.phone.create.fields.phone.label") },
        hint: t("mfa.phone.create.fields.phone.hint"),
        name: "phone",
        heading_size: "l",
        error_message: @phone_error_message,
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("mfa.phone.create.fields.submit.label"),
      } %>
    <% end %>
  </div>
</div>
