<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("devise.registrations.your_information.heading"),
      heading_level: 1,
      margin_top: 0,
      margin_bottom: 3,
    } %>

    <%= form_with(url: new_user_registration_your_information_path(registration_state_id: @registration_state_id), method: :post) do %>
      <p class="govuk-body">When we have the final terms & conditions text, it will go here.</p>

      <%= render "govuk_publishing_components/components/button", {
        text: t("devise.registrations.your_information.fields.submit.label"),
      } %>
    <% end %>
  </div>
</div>
