<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("reset_password.title"),
      heading_level: 1
    } %>

    <p class="govuk-body">
      <%= t("reset_password.caption") %>
    </p>

    <form method="post">
      <%= render "govuk_publishing_components/components/input", {
        label: {
          text: t("reset_password.email_address"),
        },
        name: "email",
        type: "email",
      } %>

      <%= render "govuk_publishing_components/components/button", {
        text: t("reset_password.submit"),
      } %>
    </form>
  </div>
</div>
