<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/back_link", { href: account_path } %>

    <%= render "govuk_publishing_components/components/heading", {
      text: t("account.data_exchange.page_heading"),
      heading_level: 1,
      margin_bottom: 6,
    } %>

    <% if @data_exchanges.empty? %>
      <p class="govuk-body">
        <%= t("account.data_exchange.no_data_exchanged") %>
      <p>
    <% else %>
      <ol>
        <% @data_exchanges.each do |exchange| %>
          <li>
            <pre>
              <%= JSON.pretty_generate(exchange) %>
            </pre>
          </li>
        <% end %>
      </ol>
    <% end %>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Coronavirus shielded service
        </dt>
        <dd class="govuk-summary-list__value">
          <span class="date-text">24 May 2020 at 11:06 (4 days ago)</span>
          <br/>
          used Date of Birth, Nationality, Region
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Transition working in the EU
        </dt>
        <dd class="govuk-summary-list__value">
          <span class="date-text">11 May 2020 at 15:32 (18 days ago)</span>
          <br/>
          used Date of Birth, Nationality, Region
        </dd>
      </div>
    </dl>
  </div>
</div>
