<% content_for :title, t("account.delete.confirmation.page_title") %>

<%= render "govuk_publishing_components/components/heading", {
  text: t("account.delete.confirmation.heading"),
  heading_level: 1,
  font_size: "l",
  margin_bottom: 4,
} %>

<p class="govuk-body">
  <%= I18n.t("account.delete.confirmation.description_1") %>
</p>

<p class="govuk-body">
  <%= sanitize(I18n.t("account.delete.confirmation.description_2", link: feedback_form_path)) %>
</p>

<p class="govuk-body">
  <%= sanitize(I18n.t("account.delete.confirmation.return_link", link: Plek.new.website_root)) %>
</p>
