<% content_for :title, t("account.delete.heading") %>
<% content_for :location, "manage" %>
<% content_for :account_navigation do %>
  <%= render "account-navigation", page_is: yield(:location) %>
<% end %>

<% content_for :before_main do %>
  <%= render "govuk_publishing_components/components/back_link", { href: account_manage_path } %>
<% end %>

<%= render "migration-banner" %>

<%= render "govuk_publishing_components/components/heading", {
  text: "You cannot delete your account at the moment",
  heading_level: 1,
  font_size: "xl",
  margin_bottom: 5,
} %>

<p class="govuk-body">
  This is because we’re making changes to how the account works.
</p>

<p class="govuk-body">
  You’ll be able to delete your account from midday on 28 October. If you need to delete it before then, <a class="govuk-link" href="/feedback">contact us</a>.</p>
</p>
