<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: t("welcome.show.title"),
      heading_level: 1,
      margin_top: 0,
      margin_bottom: 3,
    } %>

    <%= sanitize(t("welcome.show.content")) %>

    <%= render "govuk_publishing_components/components/button", {
      text: t("welcome.show.button.label"),
      href: new_user_registration_path,
      start: true,
      margin_bottom: 3,
    } %>

    <%= sanitize(t("welcome.show.action", link: user_root_path)) %>
  </div>
</div>
