:queues:
  - mailers
  - default

:schedule:
  expire_registration_state:
    every: 15m
    class: ExpireRegistrationStateJob
  expire_login_state:
    every: 15m
    class: ExpireLoginStateJob
  expire_ephemeral_state:
    every: 15m
    class: ExpireEphemeralStateJob
  expire_jwt:
    every: 15m
    class: ExpireJwtJob
