<div class="summary-list">
  <dt class="summary-list__key">
    <%= t("account.security.event.#{activity.name}") %>
  </dt>
  <dd class="summary-list__value">
    <span class="date-text">
      <%= date_with_time_ago(activity.created_at) %>
    </span>
  </dd>
  <dd class="summary-list__value">
    <%= activity.client %>
  </dd>
  <dd class="summary-list__value">
    <%= "#{activity.ip_address_country} (#{activity.ip_address})" %>
  </dd>
</div>
