<li class="accounts-border-list__item">
  <%= render "govuk_publishing_components/components/heading", {
    text: humanized_date(mfa_token.created_at),
    heading_level: 3,
    font_size: "s",
  } %>
  <p class="govuk-body">
    <% if mfa_token.valid_until >= Time.zone.now %>
      <%= t("account.security.security_codes.code_description.present") %>
    <% else %>
      <%= t("account.security.security_codes.code_description.past") %>
    <% end %>
    <%= humanized_date(mfa_token.valid_until) %>.
  </p>
</li>
