platform: linux
image_resource:
  type: docker-image
  source:
    repository: governmentpaas/cf-cli
    tag: e1ffec0d1940706f157a8c1e0ab8131b7084fa1c
inputs:
  - name: git-main
    path: src
params:
  CF_API: https://api.london.cloud.service.gov.uk
  CF_USERNAME: ((paas-username))
  CF_PASSWORD: ((paas-password))
  SENTRY_DSN: https://((sentry-dsn))

run:
  dir: src
  path: sh
  args:
    - "-c"
    - |
      set -eu

      cf api "$CF_API"
      cf auth
      cf t -o "$CF_ORG" -s "$CF_SPACE"
      cf create-app $CF_APP_NAME || true
      cf apply-manifest -f manifest.yml
      cf set-env $CF_APP_NAME CF_STARTUP_TIMEOUT "$CF_STARTUP_TIMEOUT"

      cf scale -i "$APP_INSTANCES" $CF_APP_NAME

      if [[ "${REQUIRE_BASIC_AUTH:-}" = "true" ]]; then
        cf set-env $CF_APP_NAME REQUIRE_BASIC_AUTH "$REQUIRE_BASIC_AUTH"
        cf set-env $CF_APP_NAME BASIC_AUTH_USERNAME "$BASIC_AUTH_USERNAME"
        cf set-env $CF_APP_NAME BASIC_AUTH_PASSWORD "$BASIC_AUTH_PASSWORD"
      fi

      cf set-env $CF_APP_NAME GOVUK_APP_DOMAIN "$APP_DOMAIN"
      cf set-env $CF_APP_NAME GOVUK_WEBSITE_ROOT "$WEBSITE_ROOT"
      cf set-env $CF_APP_NAME NOTIFY_API_KEY "$NOTIFY_API_KEY"
      cf set-env $CF_APP_NAME GOVUK_NOTIFY_TEMPLATE_ID "$NOTIFY_TEMPLATE_ID"
      cf set-env $CF_APP_NAME GOVUK_NOTIFY_SMS_TEMPLATE_ID "$NOTIFY_SMS_TEMPLATE_ID"
      cf set-env $CF_APP_NAME FEATURE_FLAG_MFA "$FEATURE_FLAG_MFA"
      cf set-env $CF_APP_NAME REDIRECT_BASE_URL "https://${HOSTNAME}.london.cloudapps.digital"

      cf set-env $CF_APP_NAME SENTRY_DSN "$SENTRY_DSN"
      cf set-env $CF_APP_NAME SENTRY_CURRENT_ENV "$CF_SPACE"

      cf set-env $CF_APP_NAME OIDC_IDP_ISSUER "https://${HOSTNAME}.london.cloudapps.digital"
      cf set-env $CF_APP_NAME OIDC_IDP_PRIVATE_KEY "$OIDC_SIGNING_KEY"
      cf set-env $CF_APP_NAME OIDC_IDP_PEPPER "$OIDC_PEPPER"
      cf set-env $CF_APP_NAME SECRET_KEY_BASE "$SECRET_KEY_BASE"
      cf set-env $CF_APP_NAME PASSWORD_PEPPER "$PASSWORD_PEPPER"

      cf set-env $CF_APP_NAME ATTRIBUTE_SERVICE_URL "attributes.${CDN_DOMAIN}"

      cf set-env $CF_APP_NAME ZENDESK_CLIENT_USERNAME "$ZENDESK_CLIENT_USERNAME"
      cf set-env $CF_APP_NAME ZENDESK_CLIENT_TOKEN "$ZENDESK_CLIENT_TOKEN"

      cf push $CF_APP_NAME --strategy rolling
      cf map-route $CF_APP_NAME "$CDN_DOMAIN" --hostname www

      cf scale --process worker -i "$WORKER_INSTANCES" $CF_APP_NAME
