
platform: linux
image_resource:
  type: docker-image
  source:
    repository: governmentpaas/curl-ssl
run:
  path: sh
  args:
    - '-c'
    - |
      set -eu
      echo "$MESSAGE"

      echo
      echo "ping test"
      curl --fail --silent --verbose "$URL"

      echo
      echo "healthcheck"
      [ "$(curl --fail --silent --verbose "$URL/healthcheck" | jq -r .status)" == "ok" ]
