.date-text {
  color: $govuk-secondary-text-colour;
}

.accounts-menu {
  margin: 0 0 govuk-spacing(6) 0;
  padding: 0;

  @include govuk-media-query($from: desktop) {
    margin-right: govuk-spacing(4)
  }
}

// Used to determine width of blue location indicator in navigation mention
$_current-indicator-width: 4px;

.accounts-menu__item {
  list-style-type: none;
  padding: 12px 0;

  @include govuk-media-query($from: tablet) {
    margin: 0 0 govuk-spacing(4);
    padding: govuk-spacing(1) 0;
  }
}

.accounts-menu__item--current {
  margin-left: -(govuk-spacing(2) + $_current-indicator-width);
  padding-left: govuk-spacing(2);
  border-left: $_current-indicator-width solid govuk-colour("blue");

  .accounts-menu__link {
    text-decoration: none;
  }
}

.accounts-menu__link {
  @include govuk-font(19, $weight: "bold");

  &:not(:focus):hover {
    color: $govuk-link-colour;
    text-decoration: underline;
  }
}

.accounts-menu__link-description {
  @include govuk-font(16);
  display: block;
  margin-top: govuk-spacing(1);

  @include govuk-media-query($until: tablet) {
    @include govuk-visually-hidden;
  }
}

.accounts-panel {
  padding: govuk-spacing(6);
  border: solid 1px govuk-colour("mid-grey");
  border-top: solid 3px $govuk-brand-colour;
}

.feedback-footer {
  margin-top: govuk-spacing(4);
  padding: govuk-spacing(8) 0;
  background: govuk-colour("light-grey");
}

.mfa-phone-create {
  margin-bottom: govuk-spacing(4);
}

// Remove this override when fixing this upstream in the cookie-banner component
.gem-c-cookie-banner {
  .govuk-grid-column-two-thirds {
    @include govuk-media-query($from: tablet) {
      width: 100%;
    }
  }

  .govuk-button.gem-c-button--inline {
    @include govuk-media-query($from: tablet) {
      max-width: 200px;
    }
  }
}

.accounts-summary-list {
  margin-bottom: govuk-spacing(9);

  .govuk-summary-list {
    border-top: 1px solid $govuk-border-colour;

    @include govuk-media-query($until: "tablet") {
      padding-top: govuk-spacing(3);
    }
  }

  .accounts-summary-list__key-heading {
    @include govuk-font(19, $weight: "bold");
    margin-bottom: govuk-spacing(1);
  }

  .accounts-summary-list__key-description {
    @include govuk-font(16);
    margin: 0;
  }

  &.accounts-summary-list--wide {
    @include govuk-media-query($from: "tablet") {
      .govuk-summary-list__key {
        width: 70%;
      }

      .govuk-summary-list__value {
        width: 15%;
      }

      .govuk-summary-list__actions {
        width: 15%;
      }
    }
  }
}

.accounts-your-account__email {
  margin-bottom: govuk-spacing(7);
}

.email-reminder {
  padding: govuk-spacing(3);
  margin-bottom: govuk-spacing(7);
  background: govuk-colour("light-grey");
}
