<div class="govuk-width-container">
  <h1 class="govuk-heading-xl">Register for Things</h1>
  <p class="govuk-body">
    This is a registration form, and what a nice form it is!
  </p>
  <form method="post">
    <div class="govuk-form-group">
      <label class="govuk-label" for="email">Email address</label>
      <input class="govuk-input" id="email" name="email">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="password">Password</label>
      <input class="govuk-input" id="password" name="password" type="password">
    </div>
    <button class="govuk-button">Register</button>
  </form>
</div>
