<section class="email-reminder" aria-label="Notice" role="region">
  <p class="govuk-body govuk-!-margin-0">
    <%= sanitize(t("confirm.intro")) %>
    <a href="<%= new_user_confirmation_path %>" class="govuk-link"><%= t("confirm.link_text") %></a>
  </p>
</section>
