<%= render "govuk_publishing_components/components/heading", {
  text: "You cannot update this information at the moment",
  heading_level: 1,
  font_size: "xl",
  margin_bottom: 5,
} %>

<p class="govuk-body">
  This is because we’re making changes to how the account works.
</p>

<p class="govuk-body">
  You’ll be able to update this information from midday on 28 October.
</p>
