<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/panel", {
      title: t("feedback.submit.heading")
    } %>

    <p class="govuk-body">
      <%= sanitize(t("feedback.submit.call_to_action")) %>
    </p>
  </div>
</div>
