<%= render "govuk_publishing_components/components/panel", {
  title: t("feedback.submit.heading"),
  heading_level: 1,
} %>

<p class="govuk-body">
  <%= sanitize(t("feedback.submit.call_to_action")) %>
</p>
