<!DOCTYPE html>
<html>
  <head>
    <title>GovukAccountManagerPrototype</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://www.govukpaas.app/govuk-frontend.css">
  </head>

  <body>
    <div class="govuk-width-container">
      <%= yield %>
    </div>
  </body>
</html>
